.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: 'Oxygen';
}

.main-container .header span.map {
  font-size: 15px;
  display: flex;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.main-container .control-content {
  display: flex;
  flex-direction: column;
  padding: 0em 3em 3em 3em;
}

.show {
  display: hide;
}

.control-content .control {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 0.5em;
}

.control-content .content {
  min-height: 50vh;
  max-height: 528px;
  height: 480px;
  overflow: auto;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

table.table {
  font-size: 15px;
  font-family: 'oxygen';
  width: 100%;
}

table th {
  color: #8a8a8a;
  font-weight: bold;
}

/* table td {
  min-width: 150px;
  max-height: 20px;
} */

table tbody tr td {
  padding: 8px !important;
}

table tbody tr td label {
  margin: 0;
}

.font-small {
  font-size: 12px;
}

i.material-icons {
  color: #8c0023;
}

.content .project-list {
  width: 100%;
}

.center {
  text-align: center;
}

.w-150 {
  width: 150px;
}

.w-full {
  width: 100%;
}

/* ---------------BUTTON------------ */

.save {
  background-color: #007f12;
  color: #ecf0f1;
}

.cancel {
  background-color: white;
  color: #b2002d;
}

/* ---------------BUTTON------------ */

.table-trigger {
  cursor: pointer;
}

[name='aditional-content'] ~ .aditional-content {
  display: none;
}

[name='aditional-content']:checked ~ .aditional-content {
  display: table-row;
  background-color: rgba(0, 0, 0, 0.075);
}

[name='aditional-content']:checked + tr {
  background-color: rgba(0, 0, 0, 0.075);
  border-left: 3px solid #b2002d;
}

.aditional-content--total,
.aditional-content--total:hover {
  background: #b2002d;
  border: none;
  color: white;
}

.aditional-content--total b {
  font-weight: 900;
}

.aditional-content--total td {
  border: none;
  padding: 0 0 0 1rem;
}

.inner-table {
  width: 100%;
  margin-top: 1rem 0.5rem;
  border: none;
}

.inner-table td {
  border: none;
  text-align: center;
}

.inner-table thead > th {
  border: none;
  padding: 0.2rem;
  border-bottom: 2px solid;
  text-align: center;
}
