<div class="main-container">
  <div class="header">
    <span class="map td-dark-gray-color">Map/mapmap/map</span>
  </div>
  <div class="control-content">
    <div class="control">
      <div class="search">
        <form class="form-main" id="filter">
          <input type="text" name="searchText" class="input-main" id="search-bar" placeholder="Search">
        </form>
      </div>
      <button class="material-button-raised">
        Add project
      </button>
    </div>
    <div class="content table-responsive table-bordered table-hover">
      <table class="table project-list">
        <tr>
          <th>Project name</th>
          <th class="center w-150">Specs</th>
          <th class="center w-150">Proposals</th>
          <th class="center w-150">Email</th>
          <th class="center w-150">Notes</th>
          <th class="center w-150">Project info</th>
        </tr>
        <tr>
          <td>Jill JillJillJillJillJillJill Jill JillJillJillJill Jill Jill Jill Jill Jill</td>
          <td class="center w-150">
            <i class="material-icons">
              library_books
            </i>
          </td>
          <td class="center w-150">
            <i class="material-icons">
              work
            </i>
          </td>
          <td class="center w-150">
            <i class="material-icons">
              email
            </i>
          </td>
          <td class="center w-150">
            <i class="material-icons">
              insert_drive_file
            </i>
          </td>
          <td class="center w-150">
            <i class="material-icons">
              remove_red_eye
            </i>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>