<div class="main-container">
  <div class="header">
    <span class="map td-dark-gray-color">Map/mapmap/map</span>
  </div>

  <div class="content">
    <div class="top">
      <div class="search">
        <form class="form-main" id="filter">
          <input type="text" name="searchText" class="input-main" id="search-bar" placeholder="Search">
        </form>
      </div>
      <button class="material-button-raised">
        Add spec
      </button>
    </div>
    <div class="main-card">
      <table class="table project-list table-bordered table-hover">
        <tr>
          <th class="td-primary-darker-color">
            <div class="md-checkbox">
              <input id="chk-title" type="checkbox">

              <label for="chk-title"></label>
            </div>
          </th>
          <th class="td-primary-darker-color">Project name</th>
          <th class="td-primary-darker-color">Ref #</th>
          <th class="td-primary-darker-color">Location</th>
          <th class="td-primary-darker-color">Item type</th>
          <th class="td-primary-darker-color">Status</th>
          <th class="td-primary-darker-color">Description</th>
          <th class="td-primary-darker-color">Action</th>
        </tr>
        <tr *ngFor="let specification of specifications ;trackBy: trackId">
          <td>
            <div class="md-checkbox">
              <input id="chk" type="checkbox">
              <label for="chk"></label>
            </div>
          </td>
          <td>
            <div>
              <a>{{specification.project?.name}}</a>
            </div>
          </td>
          <td class="">
            <a>{{specification.id}}</a>
          </td>
          <td class=""> testetestetestetestetestetesteteste
          </td>
          <td class="">
            <div>
              <a>{{specification.specificationLocation?.name}}</a>
            </div>
          </td>
          <td class="">
            <div>
              <a>{{specification.specificationType?.name}}</a>
            </div>
          </td>
          <td class="">
            <div>
              <a>{{specification.specificationStatus?.name}}</a>
            </div>
          </td>
          <td class="">
            <i class="material-icons">
              assignment
            </i>
          </td>
        </tr>
      </table>
    </div>
  </div>