<mat-toolbar color="primary">
  <button routerLink="/" mat-button>HOME</button>
  <button routerLink="/project" mat-button>Project</button>
  <button routerLink="/proposal" mat-button>Proposal</button>
  <button routerLink="/specification" mat-button>Specification</button>
  <button routerLink="/installation" mat-button>Installation</button>
  <button routerLink="/production" mat-button>Production</button>
  <button routerLink="/any" mat-button>Nao existe essa rota</button>
</mat-toolbar>