<div class="main-container">
  <div class="header d-flex flex-column">
    <span class="td-primary-color">Dashboard</span>
  </div>
  <div class="dashboard d-flex">
    <div class="column-1 card">
      <mat-list>
        <form class="form-main w-100" id="filter">
          <input type="text" name="searchText" class="input-main w-100" id="search-bar" placeholder="Search">
        </form>
        <mat-list-item *ngFor="let client of clients">{{client}}</mat-list-item>
      </mat-list>
    </div>
    <div class="column-2 d-flex flex-column">
      <div class="row-1 d-flex">
        <div class="r1c1 d-flex card">
          <mat-list>
            <form class="form-main w-100" id="filter">
              <input type="text" name="searchText" class="input-main w-100" id="search-bar" placeholder="Search">
            </form>
            <mat-list-item *ngFor="let closedProject of closedProjects">{{closedProject}}</mat-list-item>
          </mat-list>
        </div>
        <div class="r1c2 d-flex flex-column justify-content-center align-items-center card">
          <span>Productions</span>
        </div>
      </div>
      <div class="row-2 d-flex">
        <div class="r2c1 d-flex flex-column justify-content-center align-items-center card">
          <span>Installations</span>
          <canvas id="installationChart"></canvas>
        </div>
        <div class="r2c2 d-flex flex-column justify-content-center align-items-center card">
          <span>Productions</span>
          <canvas id="productionChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>