.main-container {
  padding: 1em;
  height: 95vh;
  width: 100%;
}

.main-container .header span {
  font-size: 20px;
}

.main-container .dashboard {
  height: 100%;
}

.dashboard .column-1 {
  width: 30%;
  overflow-x: auto;
}

.dashboard .column-2 {
  width: 70%;
}

.column-2 .row-1 {
  height: 50%;
}

.column-2 .row-1 .r1c1 {
  width: 50%;
  overflow-x: auto;
}

.column-2 .row-1 .r1c2 {
  width: 50%;
}

canvas {
  width: 350px !important;
  height: 175px !important;
}

.column-2 .row-2 {
  height: 50%;
}

.column-2 .row-2 .r2c1 {
  width: 50%;
  min-width: 350px;
  min-height: 175px;
}

.column-2 .row-2 .r2c1 span {
  margin-bottom: 1em;
  font-size: 18px;
}

.column-2 .row-2 .r2c2 {
  width: 50%;
  min-width: 350px;
  min-height: 175px;
}

.column-2 .row-2 .r2c2 span {
  margin-bottom: 1em;
  font-size: 18px;
}

mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.068);
  cursor: pointer;
}