.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: 'Oxygen';
  font-size: 15px;
  padding: 16px;
}

.main-container .header {
  display: flex;
  justify-content: space-between;
}

.main-container .header span.map {
  font-size: 15px;
  display: flex;
  margin-left: 0.5em;
}

.main-container .content {
  margin: 2em 8em 2em 8em;
}

.content .top {
  display: flex;
  justify-content: flex-end;
}

.content .top .search {
  margin-bottom: 8px;
}

.main-container .main-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  height: 470px;
}

.main-container .main-card span.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.form-main {
  display: flex;
  white-space: nowrap;
  position: relative;
  flex-direction: row;
}

.form-main input {
  width: 300px;
  height: 35px;
  border: none;
  font-size: 15px;
  color: #8a8a8a;
  padding-left: 15px;
  border-radius: 2px;
  background: #d9d9d9;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.form-main input:focus {
  outline: none;
}

.form-main input:hover,
.form-main input:focus {
  background-color: #e9e9e9;
}

.form-main input#search::-webkit-input-placeholder {
  color: #012633;
}

.form-main input#search:-moz-placeholder {
  color: #012633;
}

.form-main input#search::-moz-placeholder {
  color: #012633;
}

.form-main input#search:-ms-input-placeholder {
  color: #012633;
}

.tab-button {
  background-color: white;
  border: 1px solid darkgray;
}

.tdpm-custom-select select {
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: 100%;
  box-shadow: none;
  outline-color: none;
  outline: none;
}

.material-button-raised {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 100px;
  padding: 0 16px;
  background-color: #b2002d;
  min-width: 64px;
  height: 36px;
  color: white;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin-left: 0.5em;
}

.material-button-raised:hover,
.material-button-raised:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.material-button-raised:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button-raised:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial;
}

.material-button-raised::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s;
}

.material-button-raised:hover::before {
  opacity: 0.12;
}

.material-button-raised:focus::before {
  opacity: 0.2;
}

.material-button-raised:active::before {
  opacity: 0.32;
}

.material-button-raised:disabled::before {
  opacity: 0;
}

.material-button-raised::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 18px;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: currentColor;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

.material-button-raised:active::after {
  opacity: 0.4;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

.material-button-raised:disabled::after {
  opacity: 0;
}
