/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

body {
  background: #e4e5e6;
}

a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
  font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */

a:hover {
  cursor: pointer;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert {
  text-overflow: ellipsis;
}

.alert pre {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.alert .popover pre {
  font-size: 10px;
}

.alerts .toast {
  position: fixed;
  width: 100%;
}

.alerts .toast.left {
  left: 5px;
}

.alerts .toast.right {
  right: 5px;
}

.alerts .toast.top {
  top: 55px;
}

.alerts .toast.bottom {
  bottom: 55px;
}

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%;
  }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */

.width-min {
  width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */

.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */

.row.jh-entity-details>dd {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details>dt {
    margin-bottom: 15px;
  }
  .row.jh-entity-details>dd {
    border-bottom: 1px solid #eee;
    padding-left: 180px;
    margin-left: 0;
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */

.nav,
.pagination,
.carousel,
.card-title a {
  cursor: pointer;
}

.datetime-picker-dropdown>li.date-picker-menu div>table .btn-secondary,
.uib-datepicker-popup>li>div.uib-datepicker>table .btn-secondary {
  border: 0;
}

.datetime-picker-dropdown>li.date-picker-menu div>table:focus,
.uib-datepicker-popup>li>div.uib-datepicker>table:focus {
  outline: none;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

.container-fluid.ft-offset-5,
.ft-offset-5 {
  padding-right: 1rem;
  padding-left: 5rem;
}

.hidden {
  display: none;
}

/* ---------------- CUSTOM COLORS ---------------- */

.td-primary-color {
  color: #b2002d;
}

.td-primary-background-color {
  background-color: #b2002d;
}

.td-secundary-color {
  color: #72001d;
}

.td-secundary-background-color {
  background-color: #72001d;
}

.td-primary-background-hover:hover {
  background-color: #7f0020;
  transition-duration: 0.2s;
}

.td-primary-darker-color {
  color: #a30029;
}

.td-primary-darker-background-color {
  background-color: #a30029;
}

.tdpm-interior .td-primary-color {
  color: #f2bd57;
}

.tdpm-interior .td-primary-background-color {
  background-color: #f2bd57;
}

.tdpm-interior .td-primary-background-hover:hover {
  background-color: #725929;
  transition-duration: 0.2s;
}

.tdpm-interior .td-secundary-color,
.tdpm-interior .td-primary-darker-color {
  color: #b28b40;
}

.tdpm-interior .td-secundary-background-color,
.tdpm-interior .td-primary-darker-background-color,
.tdpm-interior .td-secundary-background-color {
  background-color: #b28b40;
}

.tdpm-trend .td-primary-color {
  color: #19415a;
}

.tdpm-trend .td-primary-background-color {
  background-color: #19415a;
}

.tdpm-trend .td-primary-background-hover:hover {
  background-color: #0e2533;
  transition-duration: 0.2s;
}

.tdpm-interior .td-secundary-color {
  color: #122f40;
}

.tdpm-trend .td-primary-darker-background-color,
.tdpm-trend .td-secundary-background-color,
.tdpm-trend .td-primary-darker-color {
  background: #122f40;
}

.td-background-color {
  background-color: #f2f2f2;
}

.td-gray-color {
  color: #d4d4d4;
}

.td-gray-background-color {
  background-color: #d4d4d4;
}

.td-dark-gray-color {
  color: #8a8a8a;
}

.td-yellow-color {
  color: #f2bd57;
}

.td-yellow-background-color {
  background-color: #f2bd57;
}

.td-green-color {
  color: #007f12;
}

.td-green-background-color {
  background-color: #007f12;
}

/* ======================= CUSTOM ELEMENTS ==================== */

.card {
  margin: 16px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tdpm-custom-select select {
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: 100%;
  box-shadow: none;
  outline-color: none;
  outline: none;
}

.material-button-raised {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 100px;
  padding: 0 16px;
  background-color: #b2002d;
  min-width: 64px;
  height: 36px;
  color: white;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin-left: 0.5em;
  text-decoration: none;
}

.material-button-raised:hover,
.material-button-raised:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.material-button-raised:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button-raised:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial;
}

.material-button-raised::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s;
}

.material-button-raised:hover::before {
  opacity: 0.12;
}

.material-button-raised:focus::before {
  opacity: 0.2;
}

.material-button-raised:active::before {
  opacity: 0.32;
}

.material-button-raised:disabled::before {
  opacity: 0;
}

.material-button-raised::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 18px;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: currentColor;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

.material-button-raised:active::after {
  opacity: 0.4;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

.material-button-raised:disabled::after {
  opacity: 0;
}

/* ----------------SCROLL BAR----------- */

/* width */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----------------SCROLL BAR----------- */

/* --------------SEARCH INPUT------------ */

.form-main {
  display: flex;
  white-space: nowrap;
  position: relative;
  flex-direction: row;
}

.form-main input {
  width: 300px;
  height: 35px;
  border: none;
  font-size: 15px;
  color: #8a8a8a;
  padding-left: 15px;
  border-radius: 2px;
  background: #d9d9d9;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.form-main input:focus {
  outline: none;
}

.form-main input:hover,
.form-main input:focus {
  background-color: #e9e9e9;
}

.form-main input#search::-webkit-input-placeholder {
  color: #012633;
}

.form-main input#search:-moz-placeholder {
  color: #012633;
}

.form-main input#search::-moz-placeholder {
  color: #012633;
}

.form-main input#search:-ms-input-placeholder {
  color: #012633;
}

/* --------------SEARCH INPUT------------ */

/* ======================= CUSTOM ELEMENTS ==================== */